* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	letter-spacing: 1.2px;
	line-height: 1.5;
}

header {
	width: 100%;
	height: 100px;
	background-color: greenyellow;
	display: flex;
	justify-content: flex-start;
}

/* header img {
	don't have one yet :)
} */

header h1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 3rem;
	font-style: oblique;
	color: indigo;
	padding: 10px;
}

main {
	background-color: lavender;
	background: radial-gradient(circle at center, #e66465 0, indigo 50%, transparent 100%);
	border: 1px solid black;
	width: 100%;
	height: 666px;
	display: grid;
	/* to create evenly spaced columns and rows, 1fr wide and high */
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

.results {
	background-color: floralwhite;
	border: 1px solid black;
	margin: .5rem;
	overflow: scroll;
	font-size: 12;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* 
	there is definitely an easier way to write this...
	grid-area: column start / row start / column end / row end
	*/
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 10;
}

.img-choices {
	height: 250px;
	margin-top: .5rem;
	/* .img-choices is the child of main, where the grid display was added. .img-choice secion covers this area of the grid */
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;


	/* the imgs inside of this parent .img-choices are grandchildren of main, and not affected by the grid set in main. */
	display: flex;
	justify-content: space-around;
	gap: px;
	
	/* This is a grid for the children of .img-choices that I decided not to use bc it was buggin..
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: .5rem; */
}

.img-choices img {
	background-color: #e66465;
	/* width needed to be adjusted, because once padding was added around each img and width was set to 100%, there was overflow out of the grid space */
	width: 33%;
	height: 300px;
	margin: .5rem;
	padding: 5px;
  border: 1px solid black;
}

.img-choices img:hover {
	background-color: #e93a3a;
}

.text {
	width: 99%;
	overflow: scroll;
	margin: .5rem .5rem .5rem 0rem;
	padding: 5px;
	background-color: floralwhite;
	border: 1px solid black;

	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 5;
	grid-row-end: 10;
	
	/*the child elements of this element will be flex display instead of grid */
	display: flex;
	position: relative;
}

.text div {
	height: 400px;
	width: 100%;
}

footer {
	width: 100%;
	height: 75px;
	background-color: greenyellow;
}

button {
	height: 50px;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #e66465;
	color: black;
	border-radius: 10%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

button:hover {
	background-color: yellowgreen;
	color: indigo;
	border-radius: 40%;
}