* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	letter-spacing: 1.2px;
	line-height: 1.5;
}

header {
	width: 100%;
	height: 100px;
	background-color: greenyellow;
	display: flex;
	justify-content: flex-start;
}

/* header img {
	don't have one yet :)
} */

header h1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 3rem;
	font-style: oblique;
	color: indigo;
	padding: 10px;
}

main {
	background-color: lavender;
	background: radial-gradient(circle at center, #e66465 0, indigo 50%, transparent 100%);
	border: 1px solid black;
	width: 100%;
	height: 666px;
	display: grid;
	/* to create evenly spaced columns and rows, 1fr wide and high */
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(25, 1fr);
}

.results {
	background-color: floralwhite;
	border: 1px solid black;
	margin: .5rem;
	overflow: scroll;
	/* 
	there is definitely an easier way to write this...
	grid-area: column start / row start / column end / row end
	*/
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 26;
}

.img-choices {
	height: 250px;
	margin-top: .5rem;
	/* .img-choices is the child of main, where the grid display was added. .img-choice secion covers this area of the grid */
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;

	/* these imgs are grandchildren of main, and not affected by the grid set in main. This is a grid for the children of .img-choices */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: .5rem;
}

.img-choices img {
	background-color: #e66465;
	/* width needed to be adjusted, because once padding was added around each img and width was set to 100%, there was overflow out of the grid space */
	width: 95%;
	height: 100%;
	margin: .5rem;
	padding: 10px;
  border: 1px solid black;
}

/* I don't know why my images change height every time they refresh
.imgSizeDiv {
	padding: 10px;
	height: 250px;
} 
*/

/* I want this to grow when I renderChart, but before the chart is shown on screen, this space shrinks.
main div {
	padding: 20px;
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 4;
	grid-row-end: 14;
} */

.text {
	width: 99%;
	overflow: scroll;
	margin: .5rem .5rem .5rem 0rem;
	padding-right: 5px;
	background-color: floralwhite;
	border: 1px solid black;
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 14;
	grid-row-end: 26;
}

footer {
	width: 100%;
	height: 75px;
	background-color: greenyellow;
}

button {
	background-color: #e66465;
	color: black;
	border-radius: 10%;
}

button:hover {
	background-color: yellowgreen;
	color: indigo;
	border-radius: 40%;
}